<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar CSS a HTML</title>
        <link rel="stylesheet" href="../styles/agregar_css.css"><!--1 forma-->
        <style>/*2 forma*/
            body{
                background-color: black;
                font-size: 18px;
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                margin-left: 100px;
            }
        </style>
    </head>
    <body>
        <h1 style="font-family: verdana;">Agregando CSS(Cascading Style Sheets) de las 3 formas posibles.</h1><!--3 forma-->
        <p>Hay 3 formas de agregar CSS a HTML, la primera forma es haciendo la conexión con la etiqueta <strong>link</strong> en HTML dentro de la etiqueta <strong>head. </strong>La segunda forma es usando la etiqueta style dentro de la etiqueta <strong>head. </strong>La tercera es usando el atributo global style dentro de cualquier etiqueta HTML.</p>
    </body>
</html>