<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Atajos de Visual Studio Code</title>
        <link rel="stylesheet" href="../styles/atajos_css.css">
    </head>
    <body>
        <h1>Atajos de clases e IDs</h1>
        <p>VS Code nos facilita agregar clases e IDs a elementos nuevos. Para esto podemos escribir el nombre del tipo de elemento seguido de un "." o un "#" y el nombre de la clase o ID.</p>
        <h2>Ejemplo para clases</h2>
        <p>h1.clase.doble-clase</p>
        <h2>Ejemplo para IDs</h2>
        <p>p#nombre-de-id</p>
        <p>Podemos agregar múltiples clases al elemento iniciando cada nombre por un ".". A diferencia de las clases, no podemos agregar más de un ID a un elemento.</p>
        <h2>Ejemplo usando varias clases y otros atajos para agregar atributos y contenido dentro del mismo atajo.</h2>
        <p>header.principal>h1.titulo[style="color: blue;" width="200px"]{Soy un h1}+p.parrafo+ul#nicolas>li</p>
    </body>
</html>