<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clases y IDS</title>
        <link rel="stylesheet" href="../styles/ids_y_clases.css">
    </head>
    <body id="cuerpo">
        <h1 id="titulo-principal">Clases y IDS en CSS(Cascading Style Sheets)</h1>
        <p class="p-principal">Para modificar un parrafo con <strong>CSS</strong> sin que todos los parrafos que hayan es necesario hacer uso del atributo <strong>class</strong> para elementos especificos y el atributo <strong>id</strong> comparte su misma función y son atributos globales, es decir, se pueden usar en cualquier elemento <strong>HTML.</strong> En <strong>CSS</strong> para acceder a elementos <strong>id o class</strong>se usa (#) para ID y (.) para class.</p>

        <p class="p-principal p2-secundario">Si utilizamos un ID(atributo global) con un nombre especifico no se va a poder utilizar ese mismo ID con otros elementos. Para el atributo class se pueden utilizar varias clases dentro de esa misma etiqueta separadas por espacio para que lo logre identificar como clases distintas.</p>
    </body>a
</html>