<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Introducción a CSS</title>
        <link rel="stylesheet" href="../styles/introduccion-css.css">
        <style>
            h1{
                color: orange;
                font-size: 40px;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align: center;">Introducción a CSS (Cascading Style Sheets)</h1>
        <p style="color: orange;">Con HTML puro podemos hacer una página web bastante sencilla pero no se ve del todo bien, o al menos no se ve como una página web moderna. Agregando CSS podemos cambiar colores, cambiar el orden de los elementos, tipo de letra, color de letra entre muchas otras cosas que podemos hacer agregando CSS.</p>
        <h2 style="color: darkblue;">Las competencias que voy a adquirir en este módulo son las siguientes:</h2>
        <ul style="color: aqua;">
            <li>Conocer lo básico sobre el lenguaje de estilo CSS.</li>
            <li>Identificar tamaños y responsividad adecuados.</li>
            <li>Integrar diferentes fuentes de texto, colores y rellenos.</li>
            <li>Modificar el posicionamiento de elementos</li>
        </ul>
    </body>
</html>