*{
    margin: 0;
}
body{
    background-color: tomato;
}
p, h1{
    font-size: 28px;
    font-family: arial, sans-serif;
    text-align: justify;
    margin: 10px;
}

.azul p{
    color: blue;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.ejemplo{
    border: 6px solid black;
    margin: 7px;
}